/* Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Redondear bordes de la barra */
    position: fixed; /* Mantener la barra fija en la parte superior */
    top: 20px; /* Añadir margen superior */
    left: 50%; /* Posicionar a la mitad del viewport */
    transform: translateX(-50%); /* Centrar la barra horizontalmente */
    width: 85%; /* Ancho del 85% */
    z-index: 1000; /* Asegurarse de que la barra esté siempre visible */
}

.navbar .logo {
    height: 50px;
}

.navbar .title {
    display: flex;
    align-items: center;
}

.navbar .title span {
    margin-left: 10px;
    font-size: 24px;
}

.navbar .title .project-name {
    color: blue;
}

.navbar .title .additional-name {
    color: orange;
    margin-left: 5px;
}

.navbar .buttons {
    display: flex;
    gap: 10px;
}
