/* Questionnaire.css */
.questionnaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambiar center a flex-start */
    height: 100vh;
    background-color: #f0f0f0;
    padding-top: 80px; /* Ajustar según la altura de la navbar */
}

.question-container {
    background: linear-gradient(170deg, orange, blue); /* Gradiente de color */
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin-bottom: 20px;
}

.question-image {
    width: 100%;
    max-height: 300px; /* Ajusta el tamaño máximo de las imágenes */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    border-radius: 10px;
    margin-bottom: 20px;
}

.question {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    background: #e0e0e0; /* Fondo blanco más oscuro */
    padding: 20px;
    border-radius: 15px;
}

.option {
    background: rgba(255, 255, 255, 0.8);
    padding: 15px 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: background 0.3s, border 0.3s;
    text-align: center;
    color: #3d3d3d; /* Cambia este valor por el color que desees */
}

.option.hover-yellow:hover {
    color: #ffffff; /* Cambia este valor por el color que desees */
    background: rgba(254, 174, 36, 0.74); /* Naranja con opacidad */
}

.option.hover-blue:hover {
    color: #ffffff; /* Cambia este valor por el color que desees */
    background: rgba(30, 143, 255, 0.621); /* Azul con opacidad */
}

/* Estilos adicionales para asegurar la consistencia */
.options {
    padding: 20px;
    border-radius: 15px;
}
